.sidebar{
    width:300px;
    background:linear-gradient(#445a84,#8ea6d6);
    padding:10px;
    color:white;
}

.search{
    width:100%;
    padding:8px;
    border-radius:20px;
    border:none;
}

.chat-user{
    display:flex;
    align-items:center;
    margin-top:15px;
}

.chat-user img{
    width:40px;
    height:40px;
    border-radius:50%;
    margin-right:10px;
}