@font-face {
    font-family: "Mundial";
    src: url("../assets/fonts/ConcertOne-Regular.ttf");
}

.Container_Msg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.Message{
    color: #fff;
    background: #6D83B9;
    padding: 30px;
    border-radius: 40px;
    width: 300px;
    text-align: center;
}

.Message h2{
    margin-bottom: 10px;
}

.Message p{
    margin-bottom: 20px;
}

.AlertButtons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.Message button{
    color: #fff;
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
    font-size: 14px;
}

.Message button:hover{
    transform: scale(1.05);
}

.btn-cancelar {
    background-color: #e53935;
}

.btn-confirmar {
    background-color: #4CAF50;
}