@font-face {
    font-family: "Mundial";
    src: url("../assets/fonts/BowlbyOneSC-Regular.ttf");
}

div {
    font-family: "Mundial",sans-serif;
}

button {
    font-family: "Mundial",sans-serif;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0px 30px;
    background:linear-gradient(90deg,#394460 46%, #768CC6 100%);
    color:white;
}

.log-in{
    font-size: 25px;
    padding:5px 10px;
    border-radius:30px;
    border:none;
    cursor:pointer;
    transition: transform 0.2s;
    
}

.log-in:hover{
    transform: scale(1.1);
}